<div class="modal-overlay" id="modal-overlay" onclick="closeModalOutside(event)">
  <div class="modal-box" id="modal">
    <button class="modal-close" onclick="closeModal()">&#x2715;</button>
    <img class="modal-hero-img" id="modal-img" src="" alt="" style="display:none">
    <div class="modal-body">
      <div class="modal-site-row">
        <img class="modal-site-logo" id="modal-logo" src="" alt="" style="display:none">
        <a class="modal-site-name" id="modal-site-name" href="#"></a>
        <span class="modal-dur" id="modal-dur"></span>
        <span class="modal-date" id="modal-date"></span>
      </div>
      <div class="modal-title" id="modal-title"></div>
      <div class="modal-performers" id="modal-performers"></div>
      <div class="modal-tags-wrap" id="modal-tags"></div>
      <div class="modal-desc" id="modal-desc"></div>
      <div class="modal-downloads" id="modal-downloads" style="display:none"></div>
      <div class="modal-action-row" id="modal-action-row" style="display:none">
        <a id="modal-watch-btn" class="modal-watch-btn" href="#">&#9654; Watch</a>
      </div>
    </div>
  </div>
</div>
